<div class="container my-5" id="student-form">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <a class="mb-3 btn btn-outline-success" href="/student">Home</a>
      <div class="card shadow">
        <div class="card-header">
          <div class="h2 text-center text-info">Add New student</div>
        </div>
        <div class="card-body">
          <form action="/student/create" method="POST" enctype="multipart/form-data">
            <div class="mb-3 form-floating">
              <input
                value="toquir ahmed"
                name="name"
                type="text"
                placeholder="name"
                class="border-primary form-control"
              />
              <label class="form-label">Name</label>
            </div>
            <div class="mb-3 form-floating">
              <input
                value="toquir@gmail.com"
                name="email"
                type="text"
                class="form-control border-secondary"
                placeholder="name@example.com"
              />
              <label class="form-label">Email address</label>
            </div>
            <div class="mb-3 form-floating">
              <input
                value="240-573-4824"
                name="cell"
                type="text"
                class="form-control border-success"
                placeholder="cell"
              />
              <label for="" class="form-label">Cell</label>
            </div>
            <div class="mb-3">
              <label for="">Location</label>
              <select name="location" class="form-control">
                <option value="">-Select-</option>
                <option value="San Francisco">San Francisco</option>
                <option value="New York">New York</option>
                <option value="Michigan">Michigan</option>
                <option value="Montana" selected>Montana</option>
                <option value="Virginia">Virginia</option>
                <option value="Seattle">Seattle</option>
                <option value="Los Angeles">Los Angeles</option>
                <option value="Chicago">Chicago</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Photo</label>
              <br />
              <img src="" id="pre-student" alt="" />
              <br />
              <label for="photo-form"><ion-icon name="images-outline"></ion-icon></label>
              <input name="photo" type="file" class="border-info" id="photo-form" />
            </div>
            <button type="submit" class="btn btn-outline-info btn-lg w-100">Create</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
